.buy {
	main#main {
		background-position: center;
		background-repeat:none;
		background-size: cover;
		width:100%;
		align-items: center;
		background-image: url(../../assets/img/grass-bg.jpg);
	}
}

section#buy {
	color:#fff;
	text-align:center;
	h3 {
		margin: 0 0 4rem;
	}
	img {

		padding:10px;
		max-width:300px;
		display: block;
		margin: 0 auto 1rem;
	}
	.where-to {
		margin: 0 0 2rem;
	}
}