#contact {
	// background:tomato;
	padding:100px 0;
	color:#fff;
	a {
		color:#fff;
		text-decoration: underline;
	}
}

.contact {
	#main {
		background-image: url(../../assets/img/contact-page-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: none; 
	}
	form {
		margin: 2rem 0;
	}
}