#faq-hero {
	color:#fff;
	.section-title {
		text-align: center;
		margin: 0 0 4rem;
	}
}

.faq-title {
	margin: 0 0 2rem;
	a {
		display: block;
		color:#fff;
		&:hover {
			opacity: .8;
		}
	}
}

.faq-question {
	color:map-get($foundation-palette, secondary);
	margin: 0 0 2rem;
}

.faq-answer {
	margin: 0 0 2rem;
}

.squeeze {
	padding: 0 15%;
}

#faq-answers {
	background:#fff;
	@include breakpoint(medium) {
		background: 
			url(../../assets/img/treat.png) 0 0 no-repeat,
			url(../../assets/img/blueberries-2.jpg) calc(100% - 10px) 40px no-repeat,
			url(../../assets/img/carrots.jpg) -20px calc(100% - 30px) no-repeat,
			url(../../assets/img/blue-biscuits.png) calc(100% + 30px) bottom no-repeat,
			#fff;
    background-size: 155px 169px, 260px 112px, 260px 152px, 373px 223px ,cover;
    background-position: -30px -20px, calc(100% + 40px) -10px, 20px calc(100% + 30px), calc(100% + 50px) calc(100% + 40px), center;
  } 
  @include breakpoint(xxlarge) {
  	background-position: 7% 10px , 90% 10px, 12% calc(100% + 30px), 95% calc(100% + 40px), center;
  }
}