.home {
  header#header {
    background: map-get($foundation-palette, primary);
    a {
      color:#fff;
      position: relative;
      text-transform: uppercase;
    }

    .underline-animate {
      a {
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }



    .the-button a{
      @include button-hollow;
      transition: all .1s ease-in-out;
      color:#fff;
      border: solid 1px #fff;
      font-weight: bold;
      &:hover {
        color: map-get($foundation-palette, primary);
        background: #fff;
      }
    }

  }

  .hero {
  background: $primary-color;
  // padding:25px 15px 25px;
  padding: 0;
  @include breakpoint(medium) {
    // padding:200px 15px 25px;
    padding: 0;
  }
  .slick-slider {
    margin: 0 !important;
    img {
      margin: 0 auto;
    }
    #darkblue {
      background: map-get($foundation-palette, secondary);
    }
  }
  // overflow: hidden;
  h1 {
    color:#fff;
    font-weight: bold;
    margin: 0 ;
    text-align:center;
    font-size:3rem;
    line-height: 1;
  }
  .column {
    position: relative;
  }
}
}





#treatwrap {
  width:100%;
  #treats {
    // background: tomato;
    height:1000px;
    position: absolute;
    //z-index: 10000;
    width:80%;
    left:10%;
    top:-700px;

    .biscuit {
      width:140px;
      position: absolute;
      top:0;
      &.one {

        left:0;
      }
      &.two {
        width:120px;
        right: 0;
      }
      &.three {
        left: 10%;
        width:80px;
      }
      &.four {
        width: 95px;
        right:20%;
      }
      &.five {
        width:125px;
        left:40%;
      }
      &.six {

        left:30%;
        width:100px;
      }
      &.seven {

        left:25%;
        width:120px;
      }
      &.eight {
        left:10%;
        width:105px;
      }
    }
  }
}

.five-stars {
  background: url(../../assets/img/dog-on-green.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  padding:150px 0;
  color:#fff;
  text-align: center;
  overflow:hidden;
  height: auto;
  @include breakpoint(medium) {
    text-align: left;
  }
  h3 {
    margin: 0 0 1rem;
  }

  img {
    height: auto;
    display: block;
    margin: 0 auto;

  }

  .rating {
    text-align: center;
    margin: 0 0 2rem;
    font-weight: bold;
    font-size: bold;
    font-size:20px;
    text-transform: uppercase;
    i {
      font-weight: normal;
    }
  }
}

.premium-ingredients {
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #fff;
  padding:220px 0;
  background:
    url(../../assets/img/cranberries.jpg) 0 0 no-repeat,
    url(../../assets/img/blueberries-2.jpg) calc(100% - 10px) 40px no-repeat,
    url(../../assets/img/carrots.jpg) -20px calc(100% - 30px) no-repeat,
    url(../../assets/img/blueberries.jpg) calc(100% + 30px) bottom no-repeat,
    #fff;
  background-size: 195px 179px, 173px 75px, 173px 101px, 105px 152px ,cover;

  @include breakpoint(medium) {
    background-size: 293px 269px, 260px 112px, 260px 152px, 158px 226px ,cover;
    background-position: 0 -40px, calc(100% - 40px) 40px, 20px calc(100% - 30px), calc(100% - 10px) bottom, center;
  }

  .bones {
    // background:tomato;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    .bone {
      position: absolute;
      &.bone-1 {
        width:100px;
        top: 120px;
        right: 40px;
        transform: rotate(30deg);
        @include breakpoint(medium) {
          top:200px;
        }
      }
      &.bone-2 {
        bottom: 70px;
        left: calc(60% - 70px);
        width:140px;
        transform: rotate(140deg);
      }
      &.bone-3 {
        display: none;
        @include breakpoint(medium) {
          display: block;
          left: 10px;
          top:300px;
          width:140px;
          transform: rotate(20deg);
        }
      }
    }
  }

  .content {
    position: relative;
  }

}

.super {
  background: map-get($foundation-palette, primary);
  padding: 100px 0;
  color:#fff;


  .text {
    margin: 0 0 2rem;
    h5 {
      font-weight: bold;
    }
  }
  .bag {
    text-align: center;
    h3 {
      margin: 0 0 2rem;
      font-weight: bold;
    }
    img {
      @include breakpoint(medium) {
        padding: 0 10%;
      }
    }
  }
}

.superdogs {
  background: url(../../assets/img/superdogs.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  padding:200px 0;
  color:#fff;
}

.two-products {
  color:#fff;
  text-align:center;
  .product {
    padding: 100px 0;
  }
  .content {
    max-width:600px;
    padding:20% 30px;
    margin: 0 auto;
    img {
      width:200px;
    }
  }
  .darkblue {
    background: map-get($foundation-palette, secondary);
    .button.white {
      color:map-get($foundation-palette, secondary);
    }
  }
  .blue {
    background: map-get($foundation-palette, primary);
  }
}

.home-reviews {
  text-align: center;
  background:#fff;
  padding: 150px 0;

  h3 {
    margin: 0 0 2rem;
    strong {
      color:map-get($foundation-palette, primary);
    }
  }
}
.pre-footer {
  .mask {
    height:100%;
    width:100%;
    top: 0;
    left: 0;
    background: rgba(map-get($foundation-palette, primary), .65);
    position: absolute;
  }
  .contact {
    position: relative;
    background: url(../../assets/img/contact-bg.jpg);
    background-size:cover;
    background-position: center;
    color:#fff;
    text-align: center;
    h4 {
      margin: 0 0 2rem;
    }

  }
  .content {
    position: relative;
    max-width:600px;
    padding:20% 30px;
    margin: 0 auto;
    label {
      display: none;
    }
  }
  .find {
    position:relative;
    text-align: center;
    color:#fff;
    background: url(../../assets/img/find-bg.jpg);
    background-size:cover;
    background-position: center;
    .mask {
      background: rgba(map-get($foundation-palette, secondary), .65);
    }
  }
}

.hero-slider {
  padding: 200px 0;
  .the-slider {
    width:800px;
    margin: 0 auto;
  }
}
