.products {
	.hero {
		color:#fff;
		text-align: left;
		background-size: cover;
		background-repeat: none;
		background-position:center;
		padding:240px 0;
	}
}

.treat-block {
	padding: 75px 0;
	background: map-get($foundation-palette, secondary);
	color:#fff;
	h3.section-title {
		color:#fff;
		font-weight: bold;
		margin: 0 0 3rem;
		text-align: center;
	}
}

.superfoods.treat-block {
	background: map-get($foundation-palette, primary);
}

.food-bucket {
	text-align:center;
	color:#fff;
	padding: 20px;
	img {
		max-height: 200px;
	}
	h4 {
		font-size:1.1rem;
		font-weight: bold;
		margin: 1.5em 0;
	}
	p {
		font-size:.9rem;
		line-height: 1.2;
	}
}

.superfood-benefits {
	background-color:#fff;
	padding:75px;
	background: url(../../assets/img/blueberry-bg.jpg) center center no-repeat;
	background-size: cover;

	img {
		display: block;
		margin: 0 auto;
		padding:30px;
	}
}


.superfood-single-hero {
	color:#fff;
	img {
		display: block;
		margin: 0 auto;
		padding:0 20%;
		@include breakpoint(medium) {
			padding: 0;
		}
	}
	h1 {
		margin: 0 0 2rem;
	}
	h4 {
		margin: 0 0 1rem;
	}
	ul {
		margin: 1.5rem 0;
		list-style: none;
	}
}

#why-iq {
	background: #fff;
	h3.section-title {
		text-align: center;
		margin: 0 0 3rem;
		color: map-get($foundation-palette, secondary);
	}
	.about-iq {
		margin: 0 0 2rem;
		h4 {
			color: map-get($foundation-palette, secondary);
		}
	}
	img {
		display: block;
		margin: 0 auto;
		padding:0 25%;
		@include breakpoint(medium) {
			padding: 0;
		}
	}
}

#feeding-guide {
	background-size: cover;
	background-position: center;
	background-repeat: none;
	padding: 100px 0;
	color:#fff;
	.feeding-content {
		margin: 0 0 2rem;
		h3 {
			border-bottom: solid 2px #fff;
			padding: 5px 0;
			margin: 0 0 1.5rem;
		}
	}
	dl {
		dt {
			float:left;
			clear:both;
		}
		dd {
			float:right;
		}
	}
	.intro {
		text-align:center;
		margin: 0 0 2rem;
		h2 {
			font-weight: bold;
		}
	}
}