@import 'core';
@import 'theme';

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 767px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}