@import "settings"; 

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
// endbower

@import '../bower_components/motion-ui/src/motion-ui';
@import "../../bower_components/slick-carousel/slick/slick.scss";

// @import "common/global";
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/grid";
// @import "components/wp-classes";
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages"; 
// @import "layouts/posts";
// @import "layouts/tinymce";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video; 
@include foundation-label; 
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar; 
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;



@import 'partials/home',
        'partials/products',
        'partials/faq',
        'partials/contact',
        'partials/buy',
        'partials/slick-theme',
        'slicknav/slicknav'
;


body {
  background: map-get($foundation-palette, secondary);
  &.home {
    background: map-get($foundation-palette, primary);
  }
}
#header-pad {
  height:85px;
}

@include breakpoint(medium) { 
  .off-canvas-content {
    display: flex;
    min-height: 100%;
    height:100%;
    height: auto;
    flex-direction: column;
    .home & {
      display:block;
      height: auto; 
    }
  }
  #main {
    flex: 1 0 auto;
    width:100%;
    &::after {
      content: '\00a0'; /* &nbsp; */
      display: block;
      height: 0px;
      visibility: hidden; 
    }

  }
}





.button {
  font-weight: bold;
}


header#header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index:1000;
  flex:none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  .home-link {
    display: none;
  }
  .menu {
    font-weight: bold;
    font-family: 'futura-pt';
    li {
      display: inline-block;
      
      &.underline-animate {
        display:inline-block;
        margin-right:30px;
      }
    }
  }

  .top-bar {
    padding: 0;
    padding:20px 0;
    // text-transform: uppercase;
  }
  .underline-animate {
    margin-right:15px;
    a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: map-get($foundation-palette, primary);
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

  }

  .toggle-panel { 
    font-size:21px;
  }

  .logo {

    img {
      height:45px;
    }
  }

}


.flexrow {
  @include flex-grid-row(null,100%,null,true,0)
}



footer#footer {
  background: $black;
  padding: 15px 0;
  color:#fff;
  text-align: center;
  flex:none;
  .the-button {
    display: none !important;
  }
  .row {
    margin-bottom: 1rem;
  }
  @include breakpoint(medium) {
    text-align: left;
  }
  ul.footer-nav {
    font-family: 'futura-pt';
    font-weight: bold;
    margin: 0 0 1rem;
    padding: 0;
    text-transform: uppercase;
    li {
      display: inline;
      line-height: 40px;
    }
    a {
      color:#fff;
      padding:5px 7px;
      opacity: 1;
      &:hover {
        opacity: .8;
      }
    }
  }

  .right {
    @include breakpoint(medium) {
      text-align: right;
    }
  }

  h5 {
    font-weight: bold;
    font-size:1rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
    @include breakpoint(medium) {
      display: inline-block;
      line-height: 40px;
      margin: 0;
      padding: 0 15px 0 0;
    }
  }
  .button {
    @include breakpoint(medium) {
      margin: 0;
      float:right;
    }
  }
  p {
    margin: 0;
    color:#fff;
    font-size:12px;
    line-height: 1;
  }
}




.button.white {
  @include button-style(#fff, rgba(#fff, .8), map-get($foundation-palette, primary));
}
.button.white.darkblue {
  @include button-style(#fff, rgba(#fff, .8), map-get($foundation-palette, secondary));
}

.card {
  margin: 0 0 2rem;
  .thumbnail {
    border:none;
    border-radius:400px;
    width:50%;
    margin: 0 auto 1rem;
  }
  h5 {
    font-size:1.3rem
  }
  .review {
    color:map-get($foundation-palette, primary);
    font-size:1.2rem;
  }
  blockquote {
    border:none;
    margin: 0;
    padding: 0;
    color:$black;
    line-height: 1.2;
    font-size: .8rem;
    cite {
      text-align: center;
      font-style: normal;
      font-weight:bold;
      color:$black;
      font-size:1rem;
      margin: .5rem 0 0;
      &:before {
        content: '';
      }
    }
  }
}

.menu.sandwich {
  float:right;

  .button {
    font-size:28px;
    color: map-get($foundation-palette, primary);
    background: #fff;
    padding:8px 10px 5px;
    line-height:1;
    .home & {
      background: map-get($foundation-palette, primary);
      color:#fff;
    }
  }
}
.top-bar-right {
  width: auto;
}

ul.slide-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    &.padded {
      padding:0 15px;
    }
  }
  a {
    display:block;
    color:#fff;
    padding:15px;
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
    &:hover {
      background:darken(map-get($foundation-palette, secondary),5%);
    }
  }
}

.off-canvas-content {
  background: none;
}

.off-canvas.position-right {
  background: map-get($foundation-palette, secondary);
  min-height: 100%;
 }

.hero {
  background-size:cover;
  background-position: center;
  background-repeat: none;
  padding: 100px 0;
}



/******************

  FORMS

******************/

.hidden_label {
  label {
    display: none;
  }  
}

#formerly-hp-sec {
  display: none;
}

.reveal {
  padding: 0;
  border:none;
  header {
    background: map-get($foundation-palette, primary);
    color:#fff;
    text-align:center;
    padding: 1rem;
    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size:1.8rem;
      letter-spacing: 1px;
    }
    img {
      max-width:200px;
    }
  }
  .close-button {
    color:#fff; 
  }
  .content {
    padding:1rem;
    h4 {
      font-weight: bold;
    }
  }
  .grouped-checkboxes {
    background: tomato;
  }
}

.response {
  border:none !important;
}

.mce_inline_error {
  margin: -1rem 0 1rem !important;
}

#coupon {
  background: map-get($foundation-palette, secondary);
  text-transform: uppercase;
  text-align:center;
  margin-top:-42px;
  height:42px;
  
  a {
    color:#fff;
    display: inline-block;
    padding: 10px 10px 4px;
    transition: all .2s ease-in-out;
    &:hover {
      opacity: .8;
    }
  }
}

.the-button a{
  @include button-hollow;
  transition: all .1s ease-in-out;
  color:map-get($foundation-palette, primary);
  text-transform: uppercase;
  border: solid 1px map-get($foundation-palette, primary);
  font-weight: bold;
  font-size:14.4px;
  &:hover {
    color: #fff;
    background: map-get($foundation-palette, primary);
  }
}